#jeden, #trzy
{
	height: 20vh;
}
#dwa
{
	height: 60vh;
	display: grid;
	grid-template-columns: 20% 70%;
}
#nawigacja
{
	padding-left: 35px;
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  padding: 5px;
  height: 200px;
}
#menu
{
	display: grid;
	grid-gap: 5px;
	grid-template-columns: 33% 33% 33%;
}

.div_menu p
{
	margin-top: 10px;
	transition-duration: 0.4s;
	display: none;
}
.div_menu:hover p
{
	display: inline;
}
.div_menu:hover img
{
	width: 70%;
	height: auto;
	margin: 0;
	transition-duration: 0.4s;
}

.header
{
	transition-duration: 0.5s;
}
.header:hover
{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.footer
{
	width: 100%;
	position: absolute;
	bottom:0;
	height: 20vh;

}
#nazwa
{
	text-align: center;
	width: 100%;
	background-color: rgb(233,236,239);
	height: 100px;
	line-height: 100px;
	font-size: 24px;	
}
h1
{
	width: 80vh;
}
button
{
	width: 50px;
	height: auto;
	margin-left: 5px;
}
img
{
	width: 100%;
	height: auto;
	margin-right: -300px;
	transition-duration: 0.4s;
}
img:hover
{
	width: 120%;
	margin-left: -20px;
	transition-duration: 0.4s;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
blockquote
{
	padding: 5px;
	transition-duration: 0.5s;
}
blockquote:hover
{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
body
{
	font-family: 'Roboto', sans-serif;
}
